02_NO_Code_AI_Agent/05_yolo_witn_n8n/01_basic_image_processing_n8n/basic_image_processing_n8n.json
{
  "name": "basic_image_processing_n8n",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}/process-image ",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "grayscale"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        140,
        -300
      ],
      "id": "945a3936-2a8c-4d3e-922c-6aa67bd2214e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        -300
      ],
      "id": "e0bc8835-a565-4a26-b633-6533c553f4aa",
      "name": "When chat message received",
      "webhookId": "a6da106a-6467-4c2b-be77-cceb18cfe0df"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"url\": \"https://7a39-2001-fb1-c1-4d4c-adf2-ed0f-884a-442f.ngrok-free.app\"\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -300
      ],
      "id": "ac58e363-3290-4caa-bb63-2d3e0452df9e",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "887b0ba6-8ed1-415d-b48d-fd0096d5fff5",
  "meta": {
    "instanceId": "b6cf006b438418320faeab7702826fbfa00f7ada4578241361be98f0a4e42908"
  },
  "id": "ctxMioivNoI9ysjQ",
  "tags": []
}