01_NO_Code_AI_Agent/02_basic_tiool/Question_to_GoogleSheet/Question_to_GoogleSheet.json
{
  "name": "Question_to_GoogleSheet",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -540,
        -120
      ],
      "id": "ab1298d6-be5c-4705-97f7-a135bea38425",
      "name": "When chat message received",
      "webhookId": "b7d20a11-fccb-4c50-91da-384fe4868d29"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -320,
        -120
      ],
      "id": "21ee51c4-5ac1-462b-9b38-9da367284bc2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -320,
        120
      ],
      "id": "5818487d-0eb1-43ca-8520-9b7dde8251dc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bwb3Pp6zLE1dkUmn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gVuIaHiok6f63vwbvFz3VIgs156Ghu9IrMQ1D8k887c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gVuIaHiok6f63vwbvFz3VIgs156Ghu9IrMQ1D8k887c/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -140,
        120
      ],
      "id": "3ce3f085-ab37-448b-ab2c-67f6d5d3675f",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u2eQkXoirlzEvgLe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create an HTML page that beautifully presents the following answer: {{ $json.output }}. Follow these guidelines:\nStructure: \nUse semantic HTML5 (e.g., <header>, <main>, <footer>).\nInclude a clean, modern design with a responsive layout.\nAdd a title and meta tags for proper rendering.\nStyling:\nUse CSS (inline or in a <style> tag) for styling.\nApply a professional color scheme (e.g., soft blues, whites, or neutral tones).\nEnsure fonts are clean and readable (e.g., Roboto, Open Sans, or similar via Google Fonts).\nMake the layout responsive for mobile and desktop.\nTables (if present in the answer):\nStyle tables with:\nBorders, padding, and hover effects for rows.\nAlternating row colors for readability.\nA bold header row with a distinct background color.\nCenter-align numerical data and left-align text data.\nExample CSS: \ncss\ntable {\n    border-collapse: collapse;\n    width: 100%;\n    margin: 20px 0;\n    box-shadow: 0 2px 5px rgba(0,0,0,0.1);\n}\nth, td {\n    padding: 12px;\n    border: 1px solid #ddd;\n    text-align: left;\n}\nth {\n    background-color: #4CAF50;\n    color: white;\n}\ntr:nth-child(even) {\n    background-color: #f2f2f2;\n}\ntr:hover {\n    background-color: #e0e0e0;\n}\nGraphs (if present in the answer):\nUse a JavaScript library like Chart.js to render graphs.\nInclude the Chart.js CDN in the HTML.\nConvert any graph data in the answer into a visually appealing chart (e.g., bar, line, or pie chart, depending on the data).\nStyle charts with:\nSmooth animations.\nA color palette that matches the page theme.\nClear labels and legends.\nEnsure graphs are responsive and fit well on all screen sizes.\nGeneral Content:\nFormat text with proper headings (<h1>, <h2>, etc.), paragraphs, and lists.\nHighlight key points with subtle background colors or borders.\nAdd subtle animations (e.g., fade-in for content) using CSS.\nOutput:\nProvide the complete HTML code, including all CSS and JavaScript.\nEnsure the code is ready to be saved as a .html file and opened in a browser.\nTest that tables and graphs (if any) render correctly and look beautiful.\nYou can replace \"[Insert Answer Here]\" with the specific answer you want to convert into HTML. If you provide me with an answer, I can generate the HTML code directly for you!",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        40,
        -120
      ],
      "id": "7e1838cf-2493-4e56-9524-c9afdaa47d3f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        60,
        120
      ],
      "id": "59febb2e-7cc8-4f09-8a08-703343eca5ae",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "bwb3Pp6zLE1dkUmn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "html": "{{ $json.output }}"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        400,
        -120
      ],
      "id": "fe045046-acde-4edf-9991-26c7f897a1aa",
      "name": "HTML"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ee97eefe-74cd-4d11-85c5-80f19549d993",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b6cf006b438418320faeab7702826fbfa00f7ada4578241361be98f0a4e42908"
  },
  "id": "2rLNfdayEBcvGGar",
  "tags": []
}