01_NO_Code_AI_Agent/03_Text2_image_Save2_Gdrive_n8n/Text2_image_Save2_Gdrive.json
{
  "name": "Text2_image_Save2_Gdrive",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        -80
      ],
      "id": "d0085e9d-dfb4-4ed6-bed1-f219ae6e79e9",
      "name": "When chat message received",
      "webhookId": "5239551b-4ab5-46da-aa9e-e957794ae027"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=\nCreate a highly detailed and visually stunning image based on the following text description:  {{ $json.chatInput }} The image should capture the essence, mood, and specific details described in the text. Use vibrant colors, realistic textures, and appropriate lighting to bring the scene to life. Ensure the composition is balanced and visually appealing.\n\n[CONSIDER]\n- prompt in English only.\n- no \"\", '', in prompt.\n- display prompt only not describe."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -260,
        -80
      ],
      "id": "19f6f972-17f6-49df-a2a4-a51f40d3757d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -260,
        140
      ],
      "id": "453df54a-c878-474f-bc75-2aa3ddb391eb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NIgkBdTkdNxuIZ4o",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp-image-generation:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"{{$json.output.replace(/[\\r\\n]+/g, ' ')}}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseModalities\": [\"Text\", \"Image\"]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        -80
      ],
      "id": "c2f150fd-447a-4c57-99e2-2fdb3afdaf64",
      "name": "HTTP Request",
      "credentials": {
        "httpQueryAuth": {
          "id": "i2MLajoXbbQtayKM",
          "name": "Query Auth account"
        },
        "googlePalmApi": {
          "id": "NIgkBdTkdNxuIZ4o",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[0].inlineData.data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        320,
        -80
      ],
      "id": "cd25d449-3c95-4d02-9c95-9f2ed173f69a",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "name": "i.png",
        "driveId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1RV8e5jpR5-sqJt0-mxlaQL1JNliDXvNM",
          "mode": "url"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        540,
        -80
      ],
      "id": "82fa8184-05e3-480b-8929-4a7b6ac7c865",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4dUxIDcyMoTe0LOd",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2871584c-209e-468e-b914-c066329b0d25",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "612a0b8a33a501190531f0272e7430cfdd1327e2830df21a3db88ae96548a5e2"
  },
  "id": "N2pI77O9Ho1zAojt",
  "tags": []
}